@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');

/********************************************************************************/
/* reset                                                                        */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/********************************************************************************/
/* variables                                                                    */

:root {
    --text: #111;
    --background: #fefefe;
    --subblock: #eee;
    --subblock-darker: #ddd;
    --accent: #bfe0fd;
    --heading: "Jost", sans-serif;
    --body: "Carrois Gothic", sans-serif;
}

/********************************************************************************/
/* basic layout                                                                 */

body {
    display: flex;
    flex-direction: column;
}

/********************************************************************************/
/* header                                                                       */

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--subblock);
    font-family: var(--body);
    height: 3em;
}

header .breadcrumb {
    margin-left: 1em;
}

@media only screen and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: start;
        padding-left: 1em;
        padding-bottom: 2em;
        padding-top: 1em;
        position: sticky;
        background: var(--background);
        top: 0;
    }
    header .breadcrumb {
        margin-left: 0;
        padding-bottom: 2em;
    }
}

header .breadcrumb .root {}
header .breadcrumb .directory {}
header .breadcrumb .article {}
header .breadcrumb .spacer {}

header .options a {
    color: var(--text);
    text-decoration: none;
    margin-right: 1em;
}

/********************************************************************************/
/* table of contents                                                            */

main {
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    margin-top: 4rem;
}

@media only screen and (min-width: 1400px) {
    nav {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
    }
}

@media only screen and (max-width: 1400px) {
    nav {
        display: none;
    }
}

nav a {
    color: var(--text);
    font-family: var(--body);
    text-decoration: none;
    border-bottom: 1px solid var(--text);
    line-height: 1.5;
}

nav a:hover {
    background-color: var(--accent);
}

nav .section {
    margin-left: 1.5em;
    padding: 0.25em 0;
}

nav .section .subsection {
    margin-left: 1em;
}

/********************************************************************************/
/* article block layout                                                         */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--body);
    max-width: 48em;
    margin: 0 auto;
    line-height: 1.5;
    min-width: 0;
}

@media only screen and (max-width: 1400px) {
    article {
        padding: 0 2em;
    }
}

article section {}

article section.title {
    margin: 1em;
    width: 100%;
    font-size: 2.5em;
    color: var(--text);
    letter-spacing: -0.01em;
    line-height: 1.25;
    font-weight: 500;
    font-family: var(--heading);
}

article section.title:first-of-type {
    margin: 0;
}

article section.block {
    margin: 1.5em;
    padding: 1.5em;
    max-width: 48em;
    width: 100%;
    background-color: var(--background);
}

article section.block .subblock {
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--subblock);
    padding-left: 2.5em;
    margin-top: 2em;
}

article section.block .subblock:hover {
    border-left: 4px solid var(--subblock);
    padding-left: calc(2.5em - 3px);
}

/********************************************************************************/
/* footnote layout                                                              */

section.footnotes {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 48em;
    width: 100%;
    padding-bottom: 2em;
}

section.footnotes .note {
    color: var(--text);
    margin: 0.5em;
}

/********************************************************************************/
/* content                                                                      */

.heading {
    padding: 0.5em;
    margin-bottom: 1em;
    font-family: var(--heading);
    border-left: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    font-size: 2em;
    font-weight: 500;
    letter-spacing: -0.005em;
}

.subheading {
    padding: 0.5em;
    margin: 1em 0;
    font-family: var(--heading);
    border-left: 1px solid var(--accent);
    border-bottom: 1px solid var(--accent);
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: -0.005em;
}

.text {
    margin: 0.5em 0;
    font-size: 1.15em;
}

.text a, a.inline {
    text-decoration: none;
    background-color: var(--accent);
    padding: 2px;
    color: var(--text);
}

.text a:hover, a.inline:hover {
    border-bottom: 1px solid var(--text);
}

.formula {
    margin: 2em 0;
    align-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.formula .number {
    justify-self: start;
}

.formula img {
    justify-self: center;
}

.inline.formula {
    display: inline;
    margin: 0;
    padding: 0;
}

.cell {
    display: flex;
    flex-direction: column;
    margin: 2em;
    border-left: 1px solid var(--subblock-darker);
    border-bottom: 1px solid var(--subblock-darker);
}

.cell .input {
    padding: 1em;
    border-bottom: 1px solid var(--subblock-darker);
}

.cell .output {
    padding: 1em;
    display: flex;
}

.cell .output img {
    min-width: 0;
    min-height: 0;
}

.code {
    margin: 2em;
    padding: 1em;
    font-family: monospace;
    background-color: var(--subblock);
    border-left: 1px solid var(--subblock-darker);
    border-bottom: 1px solid var(--subblock-darker);
}

.inline.code {
    margin: 0;
    padding: 5px;
    border: none;
    font-family: monospace;
    background-color: var(--subblock);
}

.figures {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.figures .figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    max-width: 250px;
    padding: 2em;
}

.figures .figure img {
    width: 100%;
    flex-shrink: 1;
}

.quote {
    display: flex;
    flex-direction: column;

}

.quote .text {
    padding-left: 1em;
    border-left: 1px solid var(--subblock-darker);
}
.quote .context {
    padding-left: 1.5em;
}

/********************************************************************************/
/* footer                                                                       */

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--subblock);
    height: 3em;
    font-family: var(--body);
}

footer .copyright {
    color: var(--text);
    margin-left: 1em;
}

footer .explainer a {
    color: var(--text);
    margin-right: 1em;
}

/********************************************************************************/
/* list heirarchy                                                               */

.heirarchy ol {
    padding-left: 20px;
    font-size: 1.15rem;
}

.heirarchy ul {
    padding-left: 20px;
    font-size: 1.15rem;
}

ul {
    list-style-type: circle;
}

ol {
    counter-reset: list;
    list-style-type: none;
}

ol li::before {
    counter-increment: list;
    content: counters(list, ".") ". ";
}

li {
    margin: 0.5em;
}
